body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}
nav {
    background-color: #333;
    padding: 10px 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px 10px;
}

nav a:hover {
    text-decoration: underline;
}
.nav-container {
    background-color: #333;
    padding: 10px 20px;
}

.nav-container a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 5px 10px;
}

.nav-container a:hover {
    text-decoration: underline;
}

h2 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 0;
    background-color: #f8f9fa;
    text-align: center; /* Centers the text horizontally */
}


img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border: 2px solid #f0f0f0;
    border-radius: 5px;
    width: 900px; /* Set a standard width for the images */
}